.card-heading {
  font-size: 11px !important;
  padding-left: 0px !important;
  color: #2370B6;
  padding-left: 10px;
}

.card-container {
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20) !important;
  border-radius: 6px !important;
  padding: 10px 20px;
  margin: 10px 0px;
}

.challeneg-party-name{
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
  font-weight: 500;
}