.payments-header {
  flex-direction: column;
  background-image: url('/assets/banenr_bg.jpg');
  background: #39B0E6;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);
border-radius: 6px;
margin: 10px 0;
align-items: center;
}

.payments-container {
  padding: 0 20px;
}

.balance {
  font-size: 18px;
color: #FFFFFF;
}

.payments-subtext{
  font-size: 12px;
color: #FFFFFF;
}

.payment-card{
  margin: 0 20px;
  background-image: url('/assets/banenr_bg.jpg');
  background: #39B0E6;
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);
border-radius: 6px;
margin: 10px 10px;
}

.payment-card-container {
  justify-content: space-evenly;
}

.payment-status {
  font-size: 12px;
color: #999999;
}