.header-bar {
  background-image: url('/assets/sticky bar.jpg');
  justify-content: center;
  align-items: center;
  height: 50px;
}

.header-name {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}